.MoviesPage {
  text-align: center;
}
.newMovie {
  padding: 1rem;
  text-align: start;
}
.newMovie div p {
  font-size: large;
  text-transform: capitalize;
  font-weight: bolder;
}
.newMovie div input {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  width: 100%;
}
.buttonContainer {
  text-align: center;
}
.button {
  padding: 0.5rem 0.5rem;
  text-align: center;
  background-color: darkblue;
  color: white;
  border-radius: 10px;
  font-weight: bolder;
  border: none;
}
.button:hover {
  background-color: #3636d5;
}
.FetchMovies {
  padding: 0.5rem;
}

.MoviesPageBackGround {
  background-color: #370808;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.MoviesPage section {
  background-color: cornsilk;
  border: 2px solid brown;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  margin-top: 2rem;
}
.MoviesList ul {
  list-style-type: none;
  padding: 0;
}
